* {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.container {
    width: 1440px;
    margin: 0 auto;
    background: #E5E5E5;
  }

.nav-rectangle {
  position: absolute;
  width: 1440px;
  height: 90px;
  left: 0px;
  top: 0px;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.logo {
  position: absolute;
  width: 216px;
  height: 31px;
  left: 120px;
  top: 25px;
}

.navbar {
  position: absolute;
  left: 494px;
  top: 35px;
}

.navbar li {
  display: inline-block;
  color: #FFFFFF;
  padding: 0 30px;
}

.navbar a {
  color: #FFFFFF;
  transition: 0.5s;
}

.navbar a:hover {
  color: #0D606F;
}

.btn, .btn2 {
  position: absolute;
  color: #FFFFFF;
  background: #0D606F;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn {
  left: 1217px;
  top: 25px;
  width: 103px;
  height: 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.btn2 {
  width: 228px;
  height: 59px;
  left: 653px;
  top: 347px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  font-size: 24px;
  line-height: 32px;
}

.preview {
  width: 892px;
  position: absolute;
  top: 122px;
  left: 120px;
}

h1, h2, .input {
  font-family: 'Aleo';
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

h2 {
  margin-top: 56px;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.input {
  width: 892px;
  height: 95px;
  margin-top: 56px;
  padding-left: 40px;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  color: #F2785C;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border: none;
}

